.movie-element{
    float: left;
    margin: 1em;
    border: 1px solid grey;
    border-top-right-radius: 0.3em;
    border-top-left-radius: 0.3em;
    
    width: 222px;
    transform: scale(0.9);
    transition: all 0.3s;
}
.movie-element:hover{
    transform: scale(1);
    cursor: pointer;
    box-shadow: 0px 0px 15px 15px rgba(255,255,255,1);
}
.movie-element img{
    position: relative;
    border-top-right-radius: 0.3em;
    border-top-left-radius: 0.3em;
}

.movie-card-title{
    color: white;
    letter-spacing: -0.1em;
    font-size: 1.3em;
    margin: 1.1em 0 0 0.5em;
    

}

.movie-card-date{
color: lightgray;
font-style: italic;
font-size: 1em;
margin: 0 0 0.5em 0.5em;

}

@media only screen and (min-width:320px) and (max-width: 500px){
    .movie-element{
        width: 222px;
        
    }
    .movie-element img{
        width:220px;
        height: auto;
    }
}