.box{
    position: fixed;
    top: 300px;
    width:4.5em;
    height: 4.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box .percent{
    position: relative;
    width: 4em;
    height: 4em;
}

.box .percent svg{
    
    position: relative;
    width: 4em;
    height: 4em;
}

.box .percent svg circle{
    width: 4em;
    height: 4em;
    fill: black;
    stroke-width: 8;
    transform: translate(5px, 5px);
    stroke-linecap: round;
   
}

@keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }

  .box .percent svg circle:nth-child(1) {
    stroke-dashoffset: 0;
    stroke: rgb(88, 88, 88);    
}

.box .percent svg circle:nth-child(2){
    stroke-width: 5;
    animation: progress 1s ease-out forwards;    
}

.box .percent .number{
    position: absolute;
    top: 0;
    left: 0;
    width: 3.2em;
    height: 3.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1em;
    font-weight: bold;

}
.box .percent .number span{
    font-size: 0.6em;
}

